@using MineCvWeb.Models;
@model ResumeDetail
@{
    ViewData["Title"] = "Index";
}



<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Giriş Yap</h2>
              <p class="text-white-50 mb-5">Email ve şifrenizle giriş yapınız</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Şifre</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Şifrenizi mi unuttunuz?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Giriş Yap</button>

            </div>

            <div>
              <p class="mb-0">Hesabınız yok mu? <a asp-area="" asp-controller="User" asp-action="Register" class="link p-2">Kayıt Ol</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="card border-primary mb-3 mt-3" style="max-width: 100rem;">
  <div class="card-header">@Model.Resume.JobTitle</div>
  <div class="card-body">
    <h4 class="card-title">@Model.Resume.Name @Model.Resume.Surname</h4>
    <h5>Yaş: @Model.Resume.Age</h5>
    <br/>
    
    <div style="display:flex; justify-content:space-around;">
        <div class="card border-secondary mb-3" style="width: 35rem;">
            <div class="card-header">Eğitim</div>
            <div class="card-body">
                <h4 class="card-title">@Model.Education.University</h4>
                <h6>@Model.Education.Department</h6>
                <h6>@Model.Education.EntranceYear - @Model.Education.GraduationYear</h6>
            </div>
        </div>

        <div class="card border-secondary mb-3" style="width: 35rem;">
            <div class="card-header">İletişim</div>
            <div class="card-body">
                <h4 class="card-title">@Model.Resume.PhoneNumber</h4>
                <h6>@Model.User.Email</h6>
                <h6>@Model.Resume.Adress</h6>
            </div>
        </div>
    </div>

    
   
    <div style="display:flex; justify-content:space-around;">
        <div class="card border-secondary mb-3" style="width: 35rem;">
            <div class="card-header">Yetenekler</div>
            <div class="card-body">
                @foreach (var skill in Model.Skills)
                {
                    <h4 class="card-title">@skill.SkillName</h4>    
                }
            </div>
        </div>

        <div class="card border-secondary mb-3" style="width: 35rem;">
            <div class="card-header">Yabancı Dil</div>
            <div class="card-body">
                    @foreach(var language in Model.Languages)
                    {
                        <h4 class="card-title">@language.LanguageName</h4>
                        <h5>@language.LanguageLevel</h5>
                    }     
            </div>
        </div>


    </div>

    <hr></hr>
    <br>
    <h3>Niyet Mektubu</h3>
    <br>
    <p class="card-text">@Model.Resume.MyDescription</p>
  </div>
</div>
</section>




